.DS_Store
*.mp3
.env
certs/
node_modules
public/js/bundle.js
images/project_thumbnails.cache
.cache
parcel-cache
yarn-error.log
.env.https
serviceAccount.jsonparcel-cache
.parcel-cache
dist
build
serviceAccount.json
serviceAccountForBackup.json
gceServiceAccount.json
serviceAccountKey.json
.eslintcache
**/*.rej
**/*.env
**/*.csv
.next/
out/
*.log
exports
*.exe
.node-version
Makefile
.vscode/launch.json
tsconfig.test.json
src/components/Elements/hooks/useTransformControls.ts
test-ffmetadata.js
functions/invites.csv
report.*.json
.runtimeconfig.json
.firebase
