$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Source Code Pro", monospace;

$arium-black: #303030;
$arium-mustard: #f29f05;
$arium-red: #d70d18;
$arium-cream: #fffff1;
$arium-white: #fffffa;
$arium-cream-low-opacity: #fffff19f;
$arium-mint: #a9d8b4;
$arium-green: #518c7b;
$arium-orange: #f4501b;

$light-gary-1: #f7f7f7;
$light-gray-2: #bdbdbd;
